:root {
    --dessert-sand: #DBBEA1FF;
    --burnished: #A37B37FF;
    --old-burgandy: #3E282BFF;
    --mystic: #D34F73FF;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100vw;
}
nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
#header-container {
    display: flex;
    width: 100%;
    height: 5%;
    background: var(--old-burgandy)
}
#page-title {
    height: 5%;
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 3%;
    color: #fff;
}
#nav-container {
    height: 5%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    margin-right: 3%;
}
.nav-item {
    height: 100%;
    width: 50%;
}
.nav-item a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    color: var(--mystic);
}